
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Administracion de personas</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid" style="padding: 10pt;">
  <div class="row" style="align-content: center;">
    <div class="col-3">
      <form [formGroup]="personForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-6 mt-2">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text"  class="form-control"  formControlName="Nombre" id="inputName">
          </div>
          <div class="col-6 mt-2">
            <label for="inputPa" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" formControlName="PrimerApellido" id="inputPa">
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-2">
            <label for="inputSa" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" formControlName="SegundoApellido" id="inputSa">
          </div>
          <div class="col-6 mt-2">
            <label for="inputFn" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" formControlName="FechaDeNacimiento" id="inputFn">
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-2">
            <label for="inputSex" class="form-label">Genero</label>
            <input type="text" class="form-control" formControlName="Sexo" id="inputSex">
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <ag-grid-angular
    [rowData]="rowData"
    style="height: 400px;"
    class="ag-theme-quartz"
    [columnDefs]="colDefs">
  </ag-grid-angular>
  </div>
</div>

<router-outlet></router-outlet>
